@media (min-width: 1025px){
    .home{
        height: 100vh;
        width: 100%;
        background-image: url('../../assets/background.jpg');
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .home_aboutme{
        color: var(--lightText);
        width: 100%;   
        display: flex;
        justify-content: right;
        text-align: center;
    }
    
    .home_aboutme p{
        width: 550px;
        font-size: 0.9em;
        margin-right: 8em;
        line-height: 1.8em;
    }
    
    .home_about_button{
        background-color: transparent;
        color: var(--gold);
        cursor: pointer;
        border: none;
    }

    .all_link_button{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: var(--lightText);
        font-size: 1.5em;
        margin-left: 25em;
    }
    }
    
    @media (max-width: 426px){
        .home{
            height: 100vh;
            width: 100%;
            background-image: url('../../assets/background.jpg');
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        
        .home_aboutme{
            color: var(--lightText);
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .home_aboutme p{
            width: 400px;
            font-size: 0.9em;
            line-height: 1.8em;
        }
        
        .home_about_button{
            background-color: transparent;
            color: var(--gold);
            cursor: pointer;
        }
    }