@media (max-width: 426px) {
  .home {
    min-height: 100vh;
    width: 100%;
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .all_link_button {
    text-decoration: none;
    color: var(--lightText);
    font-size: 1.2em;
    text-align: center;
    margin-top: 23em;
  }

  .home_about_button {
    background-color: transparent;
    color: var(--gold);
    cursor: pointer;
    border: none;
    margin-top: 0.5em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .home {
    min-height: 100vh;
    width: 100%;
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .all_link_button {
    text-decoration: none;
    color: var(--lightText);
    font-size: 1.2em;
    text-align: center;
    margin-top: 24em;
  }

  .home_about_button {
    background-color: transparent;
    color: var(--gold);
    cursor: pointer;
    border: none;
    margin-top: 0.5em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home {
    min-height: 100vh;
    width: 100%;
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .all_link_button {
    text-decoration: none;
    color: var(--lightText);
    font-size: 1.2em;
    text-align: center;
    margin: 10em 0 0 22em;
  }

  .home_about_button {
    background-color: transparent;
    color: var(--gold);
    cursor: pointer;
    border: none;
    margin-top: 0.5em;
  }
}

@media (min-width: 1024px) {
  .home {
    min-height: 100vh;
    width: 100%;
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .all_link_button {
    text-decoration: none;
    color: var(--lightText);
    font-size: 1.5em;
    text-align: center;
    margin: 10em 0 0 22em;
  }

  .home_about_button {
    background-color: transparent;
    color: var(--gold);
    cursor: pointer;
    border: none;
  }

  p {
    margin-bottom: 0.5em;
  }
}
