.footer {
    background-color: var(--dark);
    /* z-index: 99; */
    width: 100%;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    color: var(--mediumText);
    font-size: 1em;
    padding: 1em;
}
/* 
.about_midias_profissionais{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_midias_profissionais a{
    text-decoration: none;
    color: var(--mediumText);
    margin: 0.8em 2em;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_midias_profissionais a p{
    margin-top: 0.5em;
} */