.footer {
    background-color: var(--dark);
    z-index: 99;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mediumText);
    font-size: 0.9em;
}